:root{
  --primary-color: #5900ff;
  --secondary-color: #5900ffda;
  --primary-gray: #535353;
  --secondary-gray: #7e7e7e;
  --bg-color: #e5e5e5;
}

@font-face {
  font-family: "Calibre";
  src: url("./assets/fonts/Calibre-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("./assets/fonts/Calibre-Light.woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("./assets/fonts/Calibre-Semibold.woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}
b, strong {
  font-weight: bold;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
  font-family: 'Calibre';
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul[class],
ol[class] {
  list-style: none;
}
a{
  color: var(--primary-color);
}
a:hover, .ant-menu-item a:hover, a.sidebar-inner-menu-element:hover{
  color: var(--secondary-color);
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
.ant-layout {
  background-color: var(--bg-color);
  justify-content: space-between;
}
.ant-modal {
  top: unset !important;
  width: unset !important;
  transform-origin: 100% 100% !important;
  overflow: hidden;
}
.ant-menu-horizontal{
  border-bottom: none;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}
.content-wrap{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.main-header{
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Calibre';
  padding: 0 40px;
}
.main-header-right{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.mint-header-button {
  background-color: var(--primary-color);
  border-radius: 20px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--secondary-color);
}
.mint-header-button span.ant-menu-title-content a{
  color: white;
  text-transform: capitalize;
}
.ant-menu {
  background-color: transparent;
}
span.ant-menu-title-content a {
  text-transform: uppercase;
  font-family: 'Calibre';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
svg.menu-icon {
  padding-top: 23px;
  margin-left: 10px;
}
.header-wallet{
  height: 42px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 20px;
  cursor: pointer;
}
.header-wallet.not-logged {
  background-color: var(--primary-color);
  color: #fff;
}
.header-wallet.not-logged:hover, .header-wallet.not-logged:focus {
  background-color: var(--secondary-color) !important;
}
.header-address {
  margin-right: 5px;
  font-size: 12px;
}
.header-address::before, p.address::before {
  content: 'â—';
  padding-right: 5px;
  width: 10px !important;
  height: 10px;
  color: limegreen;
}
.logo-container {
  height: 40px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.sidebar-inner-top canvas {
  width: 40px !important;
  height: 40px !important;
}
.sidebar-inner-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
a.sidebar-inner-menu-element, li.sidebar-inner-menu-element span a{
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
}
.main-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
  background-color: white;
}
.footer-links {
  width: 90%;
}
.footer-links a {
  padding: 0 10px;
  font-size: 14px;
  color: var(--primary-gray);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}
hr {
  opacity: 0.2;
  width: 100%;
}
.content-wrap.home .home {
  margin: 0 10%;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.home .main-logo{
  width: 360px;
}
h1{
  color: var(--primary-gray);
  font-family: "Calibre";
  font-size: 52px;
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 20px;
}
h1.extra-big {
  font-size: 120px;
  line-height: 90px;
}
h2{
  color: var(--primary-gray);
  font-family: "Calibre";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 20px;
}
.roadmap-container .h2-with-separator {
  padding-top: 40px;
  border-top: 1px solid #c2c2c2;
}
h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
p{
  font-weight: 100;
}
.home .ant-btn {
  background-color: var(--primary-color);
  color: white;
  height: 42px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  cursor: pointer;
}
.home .ant-btn a{
  color: white;
  font-size: 12px;
  font-family: "Archivo";
}
a.home-secondary-cta {
  width: 40%;
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}
.ant-btn[disabled]{
  cursor: not-allowed;
}
.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
  color: white;
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  text-shadow: none;
  box-shadow: none;
}
.ant-collapse {
  background: none;
  border: none;
}
.ant-collapse-content{
  background: none;
}
.ant-collapse-header {
  font-size: 22px;
}
.ant-card {
  background: #ffffffdd !important;
}
.ant-card-head-title {
  font-size: 26px;
  font-weight: bold;
}
.ant-card-head-title .address {
  font-size: 14px;
}
.ant-col.ant-col-8 {
  padding: 10px;
}
.ant-card-cover {
  padding-top: 20px;
}
.amount-minted h4 {
  text-align: right;
  font-size: 12px;
}
label.ant-form-item-required {
  font-size: 21px;
  font-weight: 500;
  color: #262626;
  width: 100%;
  font-family: Roboto, sans-serif;
}
span.anticon.anticon-warning {
  font-size: 18px;
}
.wrong-network {
  width: 50%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 4px;
}
.whitelist-active {
  width: 50%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 4px;
}
.minting-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.minting-inputs .ant-row.ant-form-item:first-of-type {
  width: 100%;
  margin: 0 !important;
}
.minting-inputs .ant-row.ant-form-item:nth-of-type(2){
  width: 100%;
}
.minting-inputs button, button.ant-btn {
  width: 240px;
  margin-top: 20px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: white;
  border: none;
}
.minting-inputs button{
  width: 100%;
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  text-decoration: none;
  background: var(--secondary-color);
  border: none;
  color: white;
}
input#mint__mintAmount {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  border: none;
}
input#mint__mintAmount:focus {
  outline: none;
  box-shadow: none;
}
.minter-announcement {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.successfulMint{
  text-align: center;
  animation: bounce 0.5s ease-in-out 0s 1 forwards;
}
.successfulMint svg path{
  fill: #27ab07;
}
.successfulMint svg.external-link path {
  fill: var(--primary-color);
}
.mintError{
  text-align: center;
  animation: bounce 0.5s ease-in-out 0s 1 forwards;
}
.mintError svg path{
  fill: #b50505;
}
@keyframes bounce {
  0%{
    transform: scale(0);
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.mintLoading{
  text-align: center;
  animation: minting 2s linear 0s infinite;
}
.mintLoading svg path{
  fill: var(--primary-color);
}
@keyframes minting {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.ant-card-meta {
  margin-bottom: 10px;
}
.ant-card-meta-detail{
  text-align: center;
}
.ant-card-cover img {
  height: 100px;
  width: auto;
  margin: 0 auto;
}
.nft-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nft-list > .nft {
  cursor: pointer;
}
.whitelist-container, .minter-container, .collections-container, .gallery-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 100px 20%;
}
.team-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 100px 0 100px 10%;
}
.how-to-container, .roadmap-container, .pass-container, .about-container {
  width: 50%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin: 100px 10%;
}
.about-container .extra-big, .team-container .extra-big{
  margin: 40px 0 80px;
  font-size: 9vw;
  line-height: 7vw;
}
.collections-inner-container {
  display: flex;
  gap: 20px;
}
.collections-inner-container .ant-card {
  border-radius: 20px;
  overflow: hidden;
}
.collections-inner-container .ant-card-cover {
  padding: 0;
}
.collections-inner-container .ant-card-cover img {
  height: unset;
}
.about-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 40px
}
.about-block .extra-big {
  margin: 60px 0 0;
}
.nft-wrapper {
  min-width: 40%;
  height: 250px;
  background: black;
}
.team-block-container {
  margin: 40px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.team-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.team-block-image {
  min-width: 40%;
}
.roadmap-heading h2 {
  font-weight: 100;
  margin-bottom: 100px;
  color: var(--primary-gray);
}
.pass-container{
  margin: 100px auto;
  align-items: center;
  text-align: center;
}
.pass-heading {
  width: 500px;
  margin: 0 auto 60px;
}
.pass-container p, .about-container p {
  font-size: 22px;
  font-weight: 100;
}
.reasons-container {
  margin-top: 60px;
}
.reason-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.reason-container > h1.extra-big {
  min-width: 40%;
  font-size: 144px;
}
.reason {
  text-align: left;
}
.how-to-container p{
  font-size: 16px;
  font-weight: 100;
}
span.project-separator {
  font-size: 22px;
}
.xc-project {
  margin-bottom: 60px;
}
.project-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.project-images img {
  width: 240px;
  margin-right: 10px;
  border-radius: 10px;
}
.gallery-left-side {
  background-color: black;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.gallery-right-side {
  background-color: white;
  padding: 40px;
  border-radius: 0 10px 10px 0;
}
.minter-left-side {
  max-width: 30%;
  margin-right: 40px;
}
.minter-modal {
  background: #72727299;
  position: absolute;
  width: 100%;
  height: 100vh;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container {
  text-align: center;
  width: 360px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.close-modal {
  margin-top: 40px;
  border: 1px solid;
  width: 100%;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
  cursor: pointer;
}
a.see-transaction {
  display: block;
  margin-top: 10px;
  border: 1px solid var(--primary-color);
  width: 100%;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
  cursor: pointer;
}
.close-modal:disabled {
  background-color: #e2e2e2;
  cursor: not-allowed;
}
.sc-function-box {
  background-color: #efefef;
  width: 100%;
  display: flex;
  padding: 20px 30px;
  text-align: center;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sc-function-warning .sc-function-box{
  background-color: rgba(206, 51, 51, 0.808);
}
.sc-function-box input {
  width: 50% !important;
}
.sc-function-box button {
  width: 20%;
}
h4.sc-function-name {
  font-size: 16px;
  font-weight: bold;
  width: 20%;
}
.sc-stats-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.sc-stats {
  background-color: #efefef;
  text-align: center;
  padding: 10px 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  min-width: 15%;
}
h4.sc-stats-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
span.sc-stats-value {
  text-transform: uppercase;
  font-size: 12px;
}
.ant-col.sc-result {
  text-align: center;
  width: 100%;
  height: 20px;
  background: #d2d2d277;
  font-weight: bold;
  font-size: 14px;
  margin-top: -30px;
  border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 768px) {
  .how-to-container, .roadmap-container, .about-container, .team-container, .gallery-container {
    width: 100%;
  }
  .header-wallet {
      width: 100px !important;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      padding: 0 10px;
  }
  header.ant-layout-header {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
  }
  .logo-container{
    width: 60px;
  }
  ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
    width: 50% !important;
    margin-left: 0px !important;
  }
  li.ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
      padding-left: 0;
  }
  .ant-menu-item a {
      font-size: 12px;
  }
  button.ant-btn.ant-dropdown-trigger span:first-of-type, 
  .chain-selector {
    display: none;
  }
  .header-wallet.not-logged {
      padding: 0 !important;
  }
  p.auth-button {
    color: white !important;
    font-size: 10px;
  }
  p.header-address {
      font-size: 8px;
  }
  .home h1 {
      font-size: 18vw;
      line-height: 20vw;
  }
  .home .main-logo{
    width: 220px;
  }
  .home h2.subtitle {
    margin-top: 0px;
    font-size: 6vw;
  }
  .home .ant-btn {
      font-size: 20px;
  }
  .minter-wrapper {
      width: 90vw !important;
      flex-direction: column;
  }
  .minter-wrapper > div {
    width: 100% !important;
  }
  .ant-card-head-title {
      font-size: 24px;
  }
  .ant-card-head-title p {
      font-size: 10px;
  }
  .how-to-container {
      width: 90vw !important;
  }
  .ant-col.ant-col-8.gutter-row {
      flex: 0 0 100%;
      max-width: 100%;
  }
}