:root{
  --primary-color: #5900ff;
  --secondary-color: #5900ffda;
  --accent-color: #FF7C11;
  --primary-gray: #241f20;
  --secondary-gray: #3c3c3c;
  --light-gray: #afafaf;
  --bg-color: #ffffff;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./assets/fonts/NHaasGroteskDSW02-55Rg.woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}
b, strong {
  font-weight: bold;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
  font-family: "Neue Haas Grotesk";
}
p {
  color: var(--primary-gray);
  margin-top: 1em;
  margin-bottom: 1em;
}
ul[class],
ol[class] {
  list-style: none;
}
a{
  color: var(--primary-color);
}
a:hover{
  color: white;
}
.ant-menu-item a:hover, .ant-menu-horizontal > .ant-menu-item-selected a.active{
  color: var(--accent-color);
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
div#loading-app {
  position: absolute;
  inset: 0;
  background: white;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: loadingApp 2s ease-in-out forwards;
}
@keyframes loadingApp{
  50%{
    opacity: 1;
    z-index: 10;
  }
  100%{
    opacity: 0;
    z-index: -10;
  }
}
.ant-layout {
  position: relative;
  background-color: var(--bg-color);
  justify-content: space-between;
}
.ant-modal.sidebar-modal {
  top: unset !important;
  width: unset !important;
  transform-origin: 100% 100% !important;
  overflow: hidden;
}
.ant-modal.wallet-options-modal{
  text-align: center;
}
.ant-modal.wallet-options-modal img {
  width: 20px;
}
.ant-modal-body {
  padding: 0;
}
.nft-metadata {
  padding: 20px;
}
.ant-modal-title {
  font-weight: bold;
  font-size: 26px;
}
.ant-modal.nft-viewer-modal {
  width: 360px !important;
  margin: 40px auto;
}
button.ant-btn.cancel-button-modal {
  display: none;
}
.ant-menu-horizontal{
  border-bottom: none;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}
.content-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px 10%;
}
.content-wrap.mint{
  position: unset;
}
.main-header{
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Neue Haas Grotesk";
  padding: 0 20px;
}
.main-header-right{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.mint-header-button {
  background-color: var(--primary-color);
  border-radius: 20px;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
  border-bottom: 2px solid var(--accent-color) !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--secondary-color);
}
.mint-header-button span.ant-menu-title-content a, .mint-header-button span.ant-menu-title-content a:hover{
  color: white;
  text-transform: capitalize;
}
.ant-menu {
  background-color: transparent;
}
span.ant-menu-title-content a {
  text-transform: uppercase;
  font-family: "Neue Haas Grotesk";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
svg.menu-icon {
  padding-top: 23px;
  margin-left: 10px;
}
.header-wallet{
  height: 42px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 20px;
  cursor: pointer;
}
.header-wallet.not-logged {
  background-color: var(--primary-color);
  color: white;
}
.header-wallet.not-logged:hover, .header-wallet.not-logged:focus {
  background-color: var(--secondary-color) !important;
}
p.auth-button {
  color: white;
}
.wallet-options-container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}
.wallet-option {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: var(--primary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.wallet-option span.wallet-name {
  color: white;
  font-size: 14px;
  padding: 10px;
  width: 120px;
}
.header-address {
  margin-right: 5px;
  font-size: 12px;
}
.header-address::before, p.address::before {
  content: '●';
  padding-right: 5px;
  width: 10px !important;
  height: 10px;
  color: limegreen;
}
.home .header-wallet.not-logged {
  width: 40%;
}
.logo-container {
  width: 80px;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.sidebar-inner-top canvas {
  width: 40px !important;
  height: 40px !important;
}
.sidebar-inner-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
a.sidebar-inner-menu-element, li.sidebar-inner-menu-element span a{
  color: white;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 20px;
  margin-bottom: 10px;
}
a.sidebar-inner-menu-element:hover{
  background-color: var(--accent-color);
}
.sidebar-container p.address, p.header-address {
  font-weight: 400;
}
.sidebar-container p.address {
  color: white;
}
.main-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
  background-color: white;
}
.footer-links a {
  padding: 0 10px;
  font-size: 14px;
  color: var(--primary-gray);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}
hr {
  opacity: 0.8;
  width: 100%;
}
.content-wrap.home .home {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.home .main-logo{
  width: 360px;
}
h1{
  color: var(--primary-gray);
  font-family: "Neue Haas Grotesk";
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 20px;
}
h1.extra-big {
  color: var(--primary-color);
  font-size: 186px;
  line-height: 150px;
  margin-bottom: 60px;
}
h1.extra-big span{
  font-size: 160px;
}
.home h1.extra-big span, .mint h1.extra-big span{
  color: var(--primary-gray);
}
h2{
  color: var(--primary-gray);
  font-family: "Neue Haas Grotesk";
  font-size: 46px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 20px;
}
.roadmap-container ul.ant-timeline h2 {
  margin-top: 40px;
  color: var(--accent-color);
}
.ant-timeline-item-head {
  border: 5px solid transparent;
}
h3 {
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  margin: 0 0 20px;
}
h4 {
  font-size: 20px;
}
p{
  font-size: 16px;
  font-weight: 400;
}
button.main-cta.button {
  background-color: var(--accent-color);
  color: white;
  height: 42px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  cursor: pointer;
}
.home .ant-btn a, .main-cta a, .about-cta.button{
  font-size: 14px;
  font-weight: bold;
  font-family: "Archivo";
}
a.secondary-cta {
  width: 40%;
  text-align: center;
  color: var(--primary-gray);
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline;
}
.ant-btn[disabled]{
  cursor: not-allowed;
}
.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
  color: white;
  border-color: var(--secondary-gray) !important;
  background: var(--light-gray) !important;
  text-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.ant-collapse {
  background: none;
  border: none;
}
.ant-collapse-content{
  background: none;
}
.ant-collapse-header {
  font-size: 28px;
}
.ant-card {
  background: #ffffffdd !important;
}
.ant-card-head-title {
  font-size: 26px;
  font-weight: bold;
}
.ant-card-head-title .address {
  font-size: 14px;
}
.ant-col.ant-col-8 {
  padding: 10px;
}
.ant-card-cover {
  padding-top: 20px;
}
.amount-minted h4 {
  text-align: right;
  font-size: 12px;
}
label.ant-form-item-required {
  font-size: 21px;
  font-weight: 500;
  color: #262626;
  width: 100%;
  font-family: Roboto, sans-serif;
}
span.anticon.anticon-warning {
  font-size: 18px;
}
.minter-announcement {
  width: 100%;
  position: absolute;
  left: 0;
  top: 64px;
}
.whitelist-active, .wrong-network, .minting-paused, .no-wallet {
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.wrong-network {
  z-index: 99;
}
.minting-inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.minting-inputs .ant-row.ant-form-item:first-of-type {
  width: 100%;
  margin: 0 !important;
}
.minting-inputs .ant-row.ant-form-item:nth-of-type(2){
  width: 100%;
}
.minting-inputs button, button.ant-btn {
  width: 100%;
  background-color: var(--accent-color);
  color: white;
  border-radius: 30px;
  border: none;
}
.minting-inputs > span {
  color: white;
  margin: 20px;
}
button.main-cta.button:hover, .ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  text-decoration: none;
  background: var(--secondary-color);
  border: none;
  color: white;
}
.about-cta.button {
  width: 40%;
}
.mint-amount{
  position: relative;
  margin-top: 20px;
}
.mint-amount .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.mint-amount input.ant-input-number-input {
  font-size: 56px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100px;
  height: 80px;
}
.mint-amount .ant-input-number {
  border: none !important;
  background-color: transparent;
  padding: 0;
}
.ant-input-number-focused {
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  display: none;
}
button.change-amount-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 44px;
  line-height: 34px;
  color: white;
  cursor: pointer;
}
.minting-info {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding: 40px;
}
.successfulMint{
  text-align: center;
  animation: bounce 0.5s ease-in-out 0s 1 forwards;
}
.successfulMint svg path{
  fill: #27ab07;
}
.successfulMint svg.external-link path {
  fill: var(--accent-color);
}
.mintError{
  text-align: center;
  animation: bounce 0.5s ease-in-out 0s 1 forwards;
}
.mintError svg path{
  fill: #b50505;
}
@keyframes bounce {
  0%{
    transform: scale(0);
  }
  70%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.mintLoading, .successfulMint {
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 10px auto 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}
.progress-circle-animation, .mint-loading-content, .successful-circle {
  position: absolute;
}
.progress-circle-animation{
  animation: minting 1.5s linear 0s infinite;
}
.mint-loading-content h3 {
  font-size: 36px;
  margin-bottom: 0;
}
@keyframes minting {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.ant-notification-notice-message{
  font-size: 22px;
  font-weight: bold;
}
.ant-card-meta {
  margin-bottom: 10px;
}
.ant-card-meta-detail{
  text-align: center;
}
.ant-card-cover img {
  height: 100px;
  width: auto;
  margin: 0 auto;
}
.nft-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nft-list > .nft {
  cursor: pointer;
}
.whitelist-container, .minter-container, .collections-container, .gallery-container, .team-container, .how-to-container, .roadmap-container, .pass-container, .about-container {
  width: 100%;
  max-width: 1168px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}
.about-container .extra-big, .team-container .extra-big{
  margin: 40px 0 80px;
}
.ant-collapse-content {
  border-top: none;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid var(--primary-gray);
}
.collections-inner-container {
  display: flex;
  gap: 20px;
}
.collections-inner-container .ant-card {
  border-radius: 20px;
  overflow: hidden;
}
.collections-inner-container .ant-card-cover {
  padding: 0;
}
.collections-inner-container .ant-card-cover img {
  height: unset;
}
.about-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}
.about-block .content-wrapper .extra-big {
  font-size: 180px;
  margin: 20px 0 60px;
}
.about-block .content-wrapper{
  width: 70%;
}
.about-block .content-wrapper p {
  padding-left: 110px;
  font-size: 26px;
  line-height: 30px;
}
.about-block .nfts-wrapper {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.nft-wrapper {
  cursor: pointer;
}
.team-block-container {
  margin: 40px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.team-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}
.team-block-info h4 {
  font-size: 18px;
  font-weight: bold;
}
.team-block-info h5 {
  font-size: 12px;
  margin-bottom: 0;
}
.team-block-info p {
  margin: 0;
  font-size: 16px;
}
.team-block-image {
  width: 180px;
  height: 260px;
  border-radius: 100px;
  overflow: hidden;
}
.team-block-image img {
  width: 260px;
  max-width: 260px;
  margin-left: -40px;
}
.roadmap-heading h2 {
  margin-bottom: 100px;
}
.pass-container{
  width: 60%;
  margin: 0px auto;
  align-items: center;
  text-align: center;
}
.pass-heading {
  width: 75%;
  margin: 0 auto 60px;
  text-align: center;
}
.pass-heading button.main-cta.button {
  margin: 0 auto;
  width: 320px;
}
.pass-heading img.xc-pass-logo{
  width: 260px;
  margin: 0 auto;
}
.pass-heading img.xc-pass-token{
  width: 340px;
  margin: 0 auto;
}
.pass-heading h2 {
  color: var(--accent-color);
  font-weight: bold;
}
.pass-heading h3 {
  font-size: 20px;
  margin: 0 0 20px;
}
.pass-container p, .about-container p {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}
.pass-container .reasons-container .reason p {
  font-size: 18px;
}
.reasons-container {
  margin-top: 60px;
}
.reason-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.reason-container > h1.extra-big {
  min-width: 40%;
  font-size: 144px;
  margin-bottom: 0;
}
.reason {
  text-align: left;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-size: 38px;
  padding: 20px 16px;
  margin-left: -40px;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.how-to-container p{
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 40px;
}
.how-to-container p.address {
  margin: 0;
  font-size: 13px;
}
.how-to-container p.address::before{
  content: unset;
}
.ant-steps-item-title {
  font-size: 30px;
  text-decoration: underline;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
  background: var(--accent-color);
  border: none;
}
span.project-separator {
  font-size: 22px;
}
.xc-project {
  margin-bottom: 60px;
}
.project-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}
.project-images img {
  width: 240px;
  margin-right: 10px;
  border-radius: 10px;
}
.gallery-left-side {
  background-color: black;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.gallery-left-side video{
  width: 100%;
}
.gallery-right-side {
  background-color: white;
  padding: 40px;
  border-radius: 0 10px 10px 0;
}
.minter-left-side {
  max-width: 320px;
  margin-right: 40px;
}
.minter-right-side {
  max-width: 360px;
}
.gallery-right-side img.xc-pass-logo {
  margin: 40px 0;
}
.gallery-user-amount {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}
.ant-progress-success-bg, .ant-progress-bg {
  background-color: rgb(1, 180, 1);
}
.ant-progress-success-bg, .ant-progress-bg {
  background-color: var(--primary-color);
}
form#mint {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 20px 40px;
  margin-top: 40px;
}
.minter-modal {
  background: #72727299;
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container {
  text-align: center;
  width: 360px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.close-modal {
  margin-top: 40px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
  cursor: pointer;
}
.close-modal:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
a.see-transaction {
  display: block;
  margin-top: 10px;
  color: var(--accent-color);
  width: 100%;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
  cursor: pointer;
}
.close-modal:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}
.sc-function-box {
  background-color: #efefef;
  width: 100%;
  display: flex;
  padding: 20px 30px;
  text-align: center;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sc-function-warning .sc-function-box{
  background-color: rgba(206, 51, 51, 0.808);
}
.sc-function-box input {
  width: 50% !important;
}
.sc-function-box button {
  width: 20%;
}
h4.sc-function-name {
  font-size: 16px;
  font-weight: bold;
  width: 20%;
}
.sc-stats-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.sc-stats {
  background-color: #efefef;
  text-align: center;
  padding: 10px 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  min-width: 15%;
}
h4.sc-stats-name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
span.sc-stats-value {
  text-transform: uppercase;
  font-size: 12px;
}
.ant-col.sc-result {
  text-align: center;
  width: 100%;
  height: 20px;
  background: #d2d2d277;
  font-weight: bold;
  font-size: 14px;
  margin-top: -30px;
  border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 768px) {
  .content-wrap.home .home, .how-to-container, .roadmap-container, .pass-container, .pass-heading, .about-container, .team-container,.whitelist-container, .minter-container, .collections-container, .gallery-container, button.main-cta.button, a.secondary-cta, .pass-heading button.main-cta.button {
    width: 100%;
  }
  .how-to-container, .roadmap-container, .pass-container, .about-container, .team-container, .whitelist-container, .minter-container, .collections-container, .gallery-container{
      margin: 0;
  }
  .home {
      text-align: center;
  }
  .main-header {
    position: relative;
    padding: 0px 20px;
  }
  .main-header-right {
    position: absolute;
    right: 80px;
    top: 14px;
  }
  .main-header .ant-menu-submenu-popup > .ant-menu {
    background-color: var(--accent-color);
  } 
  .ant-menu-submenu-popup > .ant-menu .ant-menu-item a:hover{  
    font-size: 12px;
    color: white;
  }
  ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
    width: 60px !important;
    margin-left: auto !important;
    justify-content: flex-end;
  }
  li.ant-menu-item-selected a{
      color: white;
  }
  li.ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
      padding-left: 0;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      padding: 0 10px;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
      color: var(--primary-color);
  }
  header.ant-layout-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .header-wallet {
      width: 100px !important;
  }
  .logo-container{
    width: 60px;
  }
  button.ant-btn.ant-dropdown-trigger span:first-of-type, 
  .chain-selector, .mint-header-button {
    display: none;
  }
  .header-wallet.not-logged {
      padding: 0 !important;
  }
  .home .header-wallet.not-logged {
    width: 100% !important;
  }
  p.auth-button {
    color: white !important;
    font-size: 10px;
  }
  p.header-address {
      font-size: 8px;
  }
  h1 {
      font-size: 34px;
      line-height: 30px;
  }
  h1.extra-big, .about-container .extra-big, .team-container .extra-big {
      font-size: 64px;
      line-height: 60px;
  }
  .home h1.extra-big {
    text-align: center;
  }
  h1.extra-big span {
      font-size: 54px;
  }
  .about-block .content-wrapper h1.extra-big {
      font-size: 88px;
      margin-left: -20px;
  }
  h2 {
      color: var(--primary-gray);
      font-family: "Neue Haas Grotesk";
      font-size: 26px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
  }
  h3 {
    font-size: 26px;
  }
  button.main-cta.button {
    padding: 10px 20px;
  }
  .pass-container p, .about-container p {
      font-size: 20px;
      line-height: 24px;
  }
  .pass-container .reasons-container .reason p{
    font-size: 16px;
    line-height: 20px;
  }
  .project-images {
      justify-content: center;
  }
  .reason-container > h1.extra-big {
    min-width: 25%;
    padding-right: 20px;
    font-size: 100px;
  }
  .about-block {
      gap: 10px;
  }
  .about-block .content-wrapper p {
      font-size: 14px;
      line-height: 20px;
      padding-left: 20px;
  }
  .about-block .nfts-wrapper {
      width: 40%;
      gap: 10px;
  }
  .about-block .content-wrapper {
      width: 60%;
  }
  .about-block .content-wrapper.right h1.extra-big {
      margin-left: -80px;
  }
  .team-block {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 6px;
  }
  .team-block-container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
  }
  .team-block-image {
      width: 120px;
      height: 160px;
  }
  .team-block-image img {
      width: 160px;
      max-width: 160px;
      margin-left: -20px;
  }
  .team-block-info h4 {
      font-size: 16px;
  }
  .team-block-info h5 {
      font-size: 11px;
  }
  .team-block-info p {
      font-size: 14px;
  }
  .how-to-container .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      font-size: 26px;
  }
  .how-to-container p {
      font-size: 16px;
  }
  .whitelist-active, .wrong-network, .minting-paused, .no-wallet {
      font-size: 12px;
  }
  .minter-left-side {
      max-width: 100%;
      width: 100%;
      margin-right: 0px;
      flex: auto;
  }
  .minter-right-side {
      max-width: 100%;
      width: 100%;
      flex: auto;
  }
  .minter-right-side h3 {
      font-size: 15px;
      line-height: 16px;
  }
  .minting-info {
    margin: 20px;
  }
  .collections-container {
    align-items: center;
  }
  .collections-inner-container {
    flex-direction: column;
  }
  .gallery-container .ant-row {
    flex-direction: column;
  }
  .ant-col.ant-col-12.gallery-left-side, .ant-col.ant-col-12.gallery-right-side {
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }
  .gallery-right-side {
      padding: 16px;
  }
  .gallery-right-side h3{
      margin: 40px 0;
      font-size: 15px;
      line-height: 14px;
  }
  .footer-links {
      margin-left: 20px;
  }
  .footer-links a {
      font-size: 12px;
  }
}